body {
  background-color: #c3e6e3;
  font-family: Darumadrop One;
}

a {
  color: #987866;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  color: #1f4548;
  font-size: 50px;
}

main {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

select {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 25px;
  border: 1px solid #bc9175;
  width: 250px;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  background-color: #bc9175;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #987866;
}

.topic {
  font-size: 20px;
  background-color: rgb(235, 239, 235);
  padding: 20px;
  line-height: 1.5;
  border-left: 5px solid rgb(148, 223, 148);
  border-radius: 3px;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
